@import url('https://fonts.googleapis.com/css?family=Pacifico');
:root{
    --mainBackgroundColor: #ffffff;
    --mainColor: black;
    --secondaryAccent: #ff9191;
    --bodyBgColour: #f3f3f3;
}

body{
    background-color: var(--bodyBgColour);
    margin: 0;
}
html,body{
  height: 100%;
}
.contentWrapper{
  min-height: 86%;
}

.topBanner{
    background: var(--mainBackgroundColor);
    text-align: center;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    border-style: solid;
    border-bottom:0 ;
    border-top:0;
    border-right: 0;
    border-left-color: var(--secondaryAccent);
    border-left-width: 0.6em;
    position:relative;
    padding-bottom: .5em;
}

.bottomBanner{
    background: var(--mainBackgroundColor);
    height: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-bottom:0 ;
    border-left:0;
    border-right: 0;

    border-top-color: var(--secondaryAccent);
    border-top-width: 0.6em;

    position: relative;
    margin-top: 2rem;
}

.brandTextTop{
    display: inline-block;
    font-size: 2.3em;
    font-style: normal;
    font-family: 'Pacifico', cursive;
    color: var(--mainColor);
    padding-left: .2em;
    padding-top: 0;
}

.brandTextTop:hover, .recipeTile{
  cursor: pointer;
}

.accentTwo{
    color: var(--secondaryAccent);
}
#searchBarDiv{
    display: inline-block;
    padding-left: .4em;
    width: 50%;
    position: relative;
    bottom: 0;
    text-align: left;
    min-width: 26em;
    padding-bottom: 0.6rem;
    max-width: 55em;
    height: 2.4em;
}
#searchBar{
    height: inherit;
    font-size: 1.2em;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: .3em;
    padding-left: .6em;
    outline: none;
    border: .07em;
    border-style: solid;
    border-color: #494949;
    border-right: 0;
    width: 80%;
}

.searchButtonDiv{
    display: inline-flex;
    position: relative;
    right: 1rem;
    top: .25rem;
    padding-right: 0;
    height: 100%;
}

#searchButton{
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: 400;
    border-style: solid;
    border-width: .07em;
    border-color: #494949;
    border-radius: 25px;
    border-left : 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    color:black;
    height:inherit;
    width: 2.6em;
    padding-left: 0.1em;
    padding-bottom: 0.15em;
}

#searchIcon:hover{
    cursor: pointer
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.topUsername{
    font-family: sans-serif;
    font-size: 1rem;
    width: auto;
    display: inline-block;
    margin-right: 0.4rem;
}

.profileButton{
    margin-right: 0.4rem;
    padding-right: 0.5rem;
}

#userSearchButton{
    margin-right: 0.4rem;
    padding-right: 0.5rem;
}

.topButtonContainer{
    position: relative;
    display: inline-block;
    padding-right: 0.4em;
    padding-left: 0.5em;
    width: auto;
}

#subBody{
    border-width: 0.1em;
    border-style: solid;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: var(--secondaryAccent);
    width: 66rem;
    margin: auto;
}

.mainSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7f7f7;
    bottom: 0;
    position: relative;
    height: auto;
    width: auto;
}

.mainSubsection{
    background-color: #fcfcfc;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
}

.tileScroller{
    display: flex;
    overflow-x: auto;
    background-color: #fcfcfc;
    height: 18em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
}

.recipeTile{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    height: fit-content;
    min-height: 14rem;
    max-height: 27rem;
    width:20rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-bottom-right-radius: 25px;
    box-shadow: 0.1rem 0.1rem 0.2rem lightgray;
}

.placeholderRecipeTile, .noLoginRecipeTile{
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.4rem;
    color: dimgray;
    vertical-align: middle;
    line-height: 5rem;
    text-align: center;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    height: 5rem;
    max-height: 27rem;
    width:20rem;
    margin-top: 1rem;
    margin-left: 0.85rem;
    margin-right: 0.85rem;
    margin-bottom: 1rem;
    border-bottom-right-radius: 25px;
    box-shadow: 0.1rem 0.1rem 0.2rem lightgray;
}

.noLoginRecipeTile{
    font-size: 1rem;
}

#sectionHeading{
    display: inline-flex;
    color: dimgray;
    font-family: sans-serif;
    font-size: 1.4rem;
    padding-left: .9em;
    padding-top: .5em;
    width: 98%;
    border-style: solid;
    border-width: .05rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #ffdede;
}

#creditText{
    font-style: italic;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 25%;
}

#tileImage{
    object-fit: cover;
    width: inherit;
    height: 10rem;
}

#tileRecipeName{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    opacity: .8;
    background-color: #fdfdfd;
    position: relative;
    max-width: 20rem;
    padding-right: .8rem;
    color: black;
    box-shadow: .1rem .1rem .1rem gray;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#tileDescription, #tilePrepTime, #tileDiet{
    display: inline-flex;
    font-family: sans-serif;
    padding-left: .4rem;
    padding-bottom: .3rem;

}

#tileDescription{
    font-size: 0.9rem;
    color: darkslategray;
    padding-top: .3rem;
    max-height: 5rem;
    background-color: #f1f1f1;
    overflow: auto;
}

#tilePrepTime, #tileDiet{
    padding-bottom: .4rem;
    padding-top: .4rem;
}

#tilePrepTime{
    font-weight: 600;
}

#tileDiet{
    font-style: italic;
    font-size: 0.8em;
}

::placeholder { color: lightgray; font-size: 0.9em; }
