#LoginButton, #userSearchButton, #registerButton{
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: 600;
    border-style: solid;
    border-width: 0em;
    border-color: lightgrey;
    border-radius: 25px;
    background-color: var(--secondaryAccent);
    color:black;
    height: 2.2em;
    width: auto;
    cursor: pointer;
}

#registerButton{
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}

.LogoutButton{
    padding-right: 0.5rem;
}

#loginContainer{
    position: relative;
    height: auto;
    width: 65em;
    margin: auto;
    background-color: white;
    border-top-color: var(--secondaryAccent);
    border-top-width: .1em;
    border-top-style: solid;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    margin-bottom: 0.4em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: none;
}

#loginInnerContainer{
    width: 44em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
}

#loginH1{
    font-size: 1.0em;
    font-family: sans-serif;
    font-weight: 600;
    display: inline-block;
    padding: .1em;
    margin: 0;
    height: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#loginError{
    font-size: 1.0em;
    font-family: sans-serif;
    color: #be0000;
    margin: auto;
    width: 38em;
    display: inline-block;
    text-align: center;
    padding-bottom: .2em;
}

#loginUsername, #loginPassword{
    display: inline-block;
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5em;
    padding-left: 0.6em;
}

.submitLoginButton{
    padding-right: 0.6em;
}
.cancelLoginButton{
    background-color: lightgray;
    margin-left: 0.6em;
}

/* Notification Pop-up */
.notificationPopUp {
    position: fixed;
    right: 2rem;
    top: 8rem;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
    visibility: hidden; /* should be hidden */
    width: auto;
    padding: .8rem;
    background-color: #fff;
    color: #3e3c3c;
    text-align: center;
    border-style: solid;
    border-color: var(--secondaryAccent);
    border-width: 0.12rem;
    border-right: 0;
    border-radius: 15px;
    z-index: 1;
    margin-left: -80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Popup arrow */
.notificationPopUp::after {
    content: "";
    position: fixed;
    left: 110%;
    bottom: 0.5rem;
    margin-left: -25px;
    border-width: 1rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--secondaryAccent);
}

/* Toggle this class - hide and show the popup */
.notificationPopUp.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.notificationPopUp.fadeout {
    visibility: visible;
    -webkit-animation: fadeOut 6s;
    animation: fadeOut 6s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;
        visibility: hidden;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;
        visibility: hidden;}
}
