.bodyRecipeView{
  display: flex;
  flex-wrap: nowrap;
}

#recipeImage{
  position: relative;
  width: 30%;
  min-width: 18.5rem;
  height: 16rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.recipeH1, .recipeH2, .recipeDescription, .recipePrep_time, .recipeDiet_info{
  padding-left: 0.75rem;
  width: 30%;
  min-width: 18.5rem;
}

.recipeDescription, .recipePrep_time, .recipeDiet_info{
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.recipeDiet_info{
  background-color: #b4f5b6;
}

.recipeH1, .recipeH2{
  font-weight: bold;
}

.recipeH1{
  font-size: 1.5rem;
}

.recipeH2{
  font-size: 1.1rem;
  padding-top: 0.7rem;
  padding-bottom: 0rem;
}

.recipeDescription{
  background-color: #eeeeee;
  font-size: 0.9rem;
}

#rvbSave{
  background-color: #ffc6dd;
}

#rvbFav{
  background-color: #fdeec3;
}

#rvbSave:active{
  background-color: #f79abc;
}

#rvbFav:active{
  background-color: #f7df9a;
}

#rvbRec:active{
  background-color: #ca6161;
}

#rvbSave:disabled, #rvbFav:disabled, #rvbRec:disabled{
  background-color: lightgray;
  color: gray;
}

.ingredientsUl{
  padding: 0.5rem;
  padding-left: 2rem;
  padding-top: 0;
}

.methodHeaderContainer{
  width:auto;
}

.methodHeader, .methodListContainer{
  width:auto;
}

.methodHeader{
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 2.2rem;
  text-decoration: underline;
  margin-top: 0.3rem;
  background-color: #f5f5f5;
  color: #4f4f4f;
}

.methodList{
  color: #2f2f2f;
  background-color: white;
  width: 39rem;
  height: auto;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 0;
  box-shadow: 0.1rem 0.2rem .4rem lightgray;
  border-radius: 15px;
}

.methodUl{
  font-size: 1.0rem;
  font-family: sans-serif;
  text-decoration: none;
  padding-top: 1.2rem;
  padding-bottom: .8rem;
  padding-right: 1.5rem;
  padding-left: 2.5rem;
}

.methodLi{
  padding-bottom: 1rem;
}
