#newSearchBarDiv{
    display: inline-block;
    padding-left: .4em;
    width: 50%;
    position: relative;
    bottom: 0;
    text-align: left;
    min-width: 26em;
    padding-bottom: 0.6rem;
    max-width: 55em;
    height: 2.4em;
}
#newSearchBar{
    height: inherit;
    font-size: 1.2em;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: .3em;
    padding-left: .6em;
    outline: none;
    border: .07em;
    border-style: solid;
    border-color: #494949;
    border-right: 0;
    width: 80%;
}

.newSearchButtonContainer{
    display: inline-flex;
    position: relative;
    right: 1rem;
    top: .25rem;
    padding-right: 0;
    height: 100%;
}

#newSearchButton{
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: 400;
    border-style: solid;
    border-width: .07rem;
    border-color: #494949;
    border-radius: 25px;
    border-left : 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    color:black;
    height:inherit;
    width: 2.6em;
    padding-left: 0.1em;
    padding-bottom: 0.15em;
}

.searchPanelContainer{
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    background-color: white;
}

.searchSectionContainer{
    min-width: 66rem;
}

.searchTileScroller{
    display: block;
    overflow-x:auto;
    background-color: #fcfcfc;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-height: 24.7rem;
    max-height: 47.3rem;
}

.searchTile{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    min-height: 14rem;
    max-height: 27rem;
    width:19.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-bottom-right-radius: 25px;
    box-shadow: 0.1rem 0.1rem 0.2rem lightgray;
}
.searchTile:hover{
    cursor: pointer;
}
