<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>RecipeShare: View Recipe</title>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet"type="text/css" href="defaultTheme.css">
    <link rel="stylesheet" type="text/css" href="Login.css">
    <link rel="stylesheet" type="text/css" href="Sidebar View.css">
    <link rel="stylesheet" type="text/css" href="Recipe View.css">
    <script src="Retrieve Recipe.js"></script>
    <script src="Recipe View.js"></script>
    <script src="Login.js"></script>
    <script src="defaultScript.js"></script>
  </head>
  <body>
    <div class="contentWrapper">
      <!-- Top Banner -->
      <div class='topBanner'>
        <div class='brandTextTop'>recipe<span class="accentTwo">Share</span></div>
        <div id="searchBarDiv">
          <input id="searchBar" type="text" placeholder="Search Recipes...">
          <div class="searchButtonDiv">
            <button id="searchButton"><img id="searchIcon" src="icons/magnifying-glass.png" alt="search"></button>
          </div>
        </div>

        <div class="topButtonContainer">
          <script>renderButtons()</script>
        </div>
        <!-- Profile/Account Info button -->
      </div>
      <div id="loginContainer">
        <div id="loginInnerContainer">
          <div id="loginError"></div>
          <p id="loginH1">Username:</p>
          <input id="loginUsername" type="text" placeholder="Username..." name="username">
          <p id="loginH1">Password:</p>
          <input id="loginPassword" type="password" placeholder="password..." name="password">
          <button id="LoginButton" class="submitLoginButton">Submit</button>
          <button id="LoginButton" class="cancelLoginButton">Cancel</button>
        </div>
      </div>
      <div class="notificationPopUp">
          followed user recommended a recipe!
          <br>
          Click here to view the recipe
      </div>

      <!-- Main body -->
      <div id="subBody" class="bodyRecipeView">
        <div class="sidebar">
          <img id="recipeImage" src="recipe_images/<%= recipe.image_source %>" alt="<%= recipe.name %>">
          <div class="recipeH1"><%= recipe.name%></div>
          <div class="recipeDescription"><%= recipe.description %></div>
          <div class="recipePrep_time">ready in <strong><%= recipe.prep_time %></strong></div>
          <div class="recipeDiet_info"><%= recipe.diet_info %></div>
          <div class="sidebarViewBtnContainer">
              <!-- <script>renderRecipeViewButtons()</script> -->
              <button disabled class="sidebarViewButton" id="rvbSave">Save</button>
              <button disabled class="sidebarViewButton" id="rvbFav">Favourite</button>
              <button disabled class="sidebarViewButton" id="rvbRec">Recommend</button>
              <script>
                initialiseButtons("<%= recipe._id%>");
              </script>
          </div>
          <div class="buttonWarning">Please log in to save, favourite or
             recommend</div>
          <div class="recipeH2">Ingredients</div>
          <div class="recipeIngredients">
            <ul class="ingredientsUl">
              <% for(var i=0; i < recipe.ingredients.length; i++) { %>
              <li><%= recipe.ingredients[i] %></li>
              <% } %>
            </ul>
          </div>

        </div>
        <div class="rightPanel">
          <div class="methodHeaderContainer">
            <div class="methodHeader">Instructions</div>
          </div>
          <div class="rightPanelContainer">
            <div class="methodList">
              <ul class="methodUl">
                <% for(var i=0; i < recipe.method.length; i++) { %>
                <li class="methodLi"><%= recipe.method[i] %></td>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>

        </div>
          <!-- Bottom Banner -->
          <div class='bottomBanner'>
            <p id="creditText">A website by Tanaka James Mudimu / SN: 10463648</p>
          </div>
  </body>
</html>
