<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>RecipeShare: Recipe Search</title>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet"type="text/css" href="defaultTheme.css">
    <link rel="stylesheet" type="text/css" href="Sidebar View.css">
    <link rel="stylesheet" type="text/css" href="Recipe Search.css">
    <link rel="stylesheet" type="text/css" href="Login.css">
    <script src="Retrieve Recipe.js"></script>
    <script src="Login.js"></script>
    <script src="defaultScript.js"></script>
</head>
<body>
    <div class="contentWrapper">
        <!-- Top Banner -->
        <div class='topBanner'>
            <div class='brandTextTop'>recipe<span class="accentTwo">Share</span></div>
            <div id="newSearchBarDiv">
                <input id="newSearchBar" type="text" placeholder="Search Recipes...">
                <div class="newSearchButtonContainer">
                    <button id="newSearchButton"><img id="searchIcon" src="icons/magnifying-glass.png" alt="search"></button>
                </div>
            </div>
            <div class="topButtonContainer">
                <script>renderButtons()</script>
            </div>
            <!-- Profile/Account Info button -->
        </div>
        <div id="loginContainer">
            <div id="loginInnerContainer">
                <div id="loginError"></div>
                <p id="loginH1">Username:</p>
                <input id="loginUsername" type="text" placeholder="Username..." name="username">
                <p id="loginH1">Password:</p>
                <input id="loginPassword" type="password" placeholder="password..." name="password">
                <button id="LoginButton" class="submitLoginButton">Submit</button>
                <button id="LoginButton" class="cancelLoginButton">Cancel</button>
            </div>
        </div>
        <div class="notificationPopUp">
            followed user recommended a recipe!
            <br>
            Click here to view the recipe
        </div>

        <!-- Main body -->
        <div id="subBody" class="bodySidebarView">
            <div class="searchSectionContainer">
                <div class="searchPanelContainer">

                </div>
                <div class="searchSectionContainer">
                    <div class="mainSubsection" id="searchContainer">
                        <div id="sectionHeading">
                            Recipe Search:
                        </div>
                        <div class="searchTileScroller" id="searchContainerScroller">
                          <script>
                            retrieveRecipes("custom", "<%= searchQuery %>");
                          </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Banner -->
    <div class='bottomBanner'>
        <p id="creditText">A website by Tanaka James Mudimu / SN: 10463648</p>
    </div>
</body>
</html>
