.bodySidebarView{
  display: flex;
  flex-wrap: nowrap;
}

.sidebar{
  font-family: sans-serif;
  height: auto;
  width: 30%;
  min-width: 20rem;
  background-color: #f9f9f9;
  box-shadow: 0.1rem 0.2rem .2rem lightgray;
  margin-right: 0.5rem;
  border-style: solid;
  border-width: .3rem;
  border-color: #f3f3f3;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 1rem;
}

.sidebarViewBtnContainer{
  display: flex;
  justify-content: space-around;
  width: 30%;
  min-width: 18.5rem;
  padding-top: 0.5rem;
  margin:auto;
}

.sidebarViewButton{
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: 600;
  border-style: solid;
  border-width: 0em;
  border-color: lightgrey;
  border-radius: 25px;
  background-color: var(--secondaryAccent);
  color:black;
  height: 2.2em;
  width: auto;
  padding-right: .5rem;
}

.sidebarViewButton:hover{
  border-style: solid;
  border-width: .07rem;
  border-color: #505050;
}

.buttonWarning{
  text-align: center;
  width: 30%;
  min-width: 18.5rem;
  margin:auto;
  font-size: .8rem;
  font-weight: bold;
  color: black;
  padding-top: 0.6rem;
  margin-bottom: 0.9rem;
}

.rightPanel{
  background-color: #eeeeee;
  width: 70%;
  min-width: 44.5rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0.1rem 0.2rem .4rem lightgray;
}

.rightPanelContainer{
    margin-top: 1rem;
}
