.profileGraphic{
  position: relative;
  background-color: #f9f9f9;
  height: 17.6rem;
  width: 30%;
  min-width: 18rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  border-style: solid;
  border-width: .2rem;
  border-color:  #4f4f4f;
  margin: auto;
  margin-top: 0.9rem;
  text-align: center;
}

#profileImage{
  position: relative;
  width: 30%;
  min-width: 16rem;
  height: 15rem;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.userH2{
    padding-top: 0.5rem;
  padding-left: 0.75rem;
  width: 30%;
  min-width: 18.5rem;
}

.userH1, .userH2{
  font-weight: bold;
}

.userH1{
  font-size: 1.5rem;
  padding-top: 0.7rem;
  width:auto;
  text-align: center;
}

.userH2{
  font-size: 1.1rem;
  padding-bottom: 0rem;
}

#uvbFollow{
  background-color: #ffc6dd;
}

#uvbFollow:active{
  background-color: #f7df9a;
}

#uvbFollow:disabled{
  background-color: lightgray;
  color: gray;
}

.userFollowers{
    height: 7rem;
    overflow-y: auto;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    min-width: 18.5rem;
    background-color: #eeeeee;
}

.followersUl{
  padding: 1.25rem;
  padding-left: 0.75rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.descriptionContainer{
    font-family: sans-serif;
    text-align: center;
    vertical-align:middle;
    line-height: 10rem;
    color: #2f2f2f;
    background-color: white;
    width: 39rem;
    height: 10rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 0;
    box-shadow: 0.1rem 0.2rem .4rem lightgray;
    border-radius: 15px;
}

.followersLi{
    padding-bottom: 0.15rem;
    padding-top: 0.55rem;
    color: #c51f1f;
}

.followersLi:hover{
    cursor: pointer;
}
