<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>RecipeShare: <%= userDetails.username %></title>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet"type="text/css" href="defaultTheme.css">
    <link rel="stylesheet" type="text/css" href="Sidebar View.css">
    <link rel="stylesheet" type="text/css" href="User View.css">
    <link rel="stylesheet" type="text/css" href="Login.css">
    <script src="Retrieve Recipe.js"></script>
    <script src="User View.js"></script>
    <script src="Login.js"></script>
    <script src="defaultScript.js"></script>
</head>
<body>
    <div class="contentWrapper">
        <!-- Top Banner -->
        <div class='topBanner'>
            <div class='brandTextTop'>recipe<span class="accentTwo">Share</span></div>
            <div id="searchBarDiv">
                <input id="searchBar" type="text" placeholder="Search Recipes...">
                <div class="searchButtonDiv">
                    <button id="searchButton"><img id="searchIcon" src="icons/magnifying-glass.png" alt="search"></button>
                </div>
            </div>

            <div class="topButtonContainer">
                <script>renderButtons()</script>
            </div>
            <!-- Profile/Account Info button -->
        </div>
        <div id="loginContainer">
            <div id="loginInnerContainer">
                <div id="loginError"></div>
                <p id="loginH1">Username:</p>
                <input id="loginUsername" type="text" placeholder="Username..." name="username">
                <p id="loginH1">Password:</p>
                <input id="loginPassword" type="password" placeholder="password..." name="password">
                <button id="LoginButton" class="submitLoginButton">Submit</button>
                <button id="LoginButton" class="cancelLoginButton">Cancel</button>
            </div>
        </div>
        <div class="notificationPopUp">
            followed user recommended a recipe!
            <br>
            Click here to view the recipe
        </div>

        <!-- Main body -->
        <div id="subBody" class="bodySidebarView">
            <div class="sidebar">
                <div class="profileGraphic">
                    <img id="profileImage" src="icons/profile.png" alt="profileImage">
                </div>
                <div class="userH1"><%= userDetails.username %></div>
                <div class="sidebarViewBtnContainer">
                    <button disabled class="sidebarViewButton" id="uvbFollow">Follow</button>
                </div>
                <div class="buttonWarning">Please log in to follow this user</div>
                <div class="userH2" id="followersHeader">Followers</div>
                <div class="userFollowers">
                    <ul class="followersUl" id="followersList">
                    </ul>
                </div>
                <div class="userH2" id="followingHeader">Following</div>
                <div class="userFollowers">
                    <ul class="followersUl" id="followingList">
                    </ul>
                </div>

            </div>
            <div class="rightPanel">
                <div class="rightPanelContainer">
                    <div class="descriptionContainer">
                        <%= userDetails.description %>
                    </div>
                </div>
                <!-- <div class="rightPanelContainer">
                    <div class="descriptionContainer">
                        <%= userDetails.description %>
                    </div>
                </div> -->
                <div class="mainSectionContainer">
                    <div class="mainSubsection" id="recommendedContainer">
                        <div id="sectionHeading">
                            <%= userDetails.username %>'s Recommendations
                        </div>
                        <div class="tileScroller" id="recommendedContainerScroller">
                          <script>
                            retrieveRecipes("user_recs", "<%= userDetails.username %>");
                          </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        initialiseButton("<%= userDetails.username %>");
    </script>
    </div>
    <!-- Bottom Banner -->
    <div class='bottomBanner'>
        <p id="creditText">A website by Tanaka James Mudimu / SN: 10463648</p>
    </div>
    <div id="hiddenDiv" style="display:none;"><%= userDetails.username %></div>
</body>
</html>
