.SearchUl{
    font-size: 1.3rem;
    font-family: sans-serif;
    padding: 0.5rem;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

#searchList{
}

.searchLi{
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    padding-left: 1.3rem;
    border-style: solid;
    border-width: .05rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #ffdede;
}

.searchLi:hover{
    cursor: pointer;
}

.searchListContainer{
    height: auto;
    min-height: 5rem;
    overflow-y: auto;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
