.subBodyWrapper{
    width: inherit;
    height: fit-content;
    background-color: #ffe0e0;
    margin-top: 7rem;
    border-radius: 15px;
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; */
    box-shadow: 0.1rem 0.2rem .4rem lightgray;
}

.bubbleContainer{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    width: 98%;
    height: auto;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; */
    box-shadow: 0.1rem 0.2rem .4rem lightgray;
    margin: auto;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.formContainer{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: normal;
    display: inline-block;
    text-align: center;
    margin-bottom: .1rem;
}

#signupH1{
    font-size: 1.0em;
    font-family: sans-serif;
    font-weight: 600;
    display: block;
    padding: .1em;
    margin: 0;
    height: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#signupUsername, #signupPassword, #signupDescription{
    display: block;
    height: inherit;
    font-size: 1em;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 25px;
    margin-left: .3em;
    padding-left: .6em;
    outline: none;
    border: .09rem;
    border-style: solid;
    border-color: #494949;
    width: 14rem;
    height: 2.1rem;
    margin: auto;
    margin-bottom: .5rem;
}

#signupDescription{
    resize: none;
    font-size: 0.8em;
    overflow-y: auto;
    padding-top: .6em;
    padding-left: .8em;
    height: 5rem;
    width: 22rem;
}

#submitButton{
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: 600;
    border-style: solid;
    border-width: 0em;
    border-color: lightgrey;
    border-radius: 25px;
    background-color: var(--secondaryAccent);
    color:black;
    height: 2.2em;
    width: auto;
    cursor: pointer;
}

#loginError{
    font-size: 1.0em;
    font-family: sans-serif;
    color: #be0000;
    margin: auto;
    width: 38em;
    display: inline-block;
    text-align: center;
    padding-bottom: .2em;
}
